* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(27, 66%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.expenses-chart-container {
}

.info-container {
    background-color: hsl(10, 79%, 65%);
    color: hsl(27, 66%, 92%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
}

.balance-text {
    padding: 5px;
}

.balance-text:last-of-type {
    font-weight: 700;
}

.info-image-container, .info-container {
    padding: 10px;
}

.info-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container {
    margin: 10px 0;
    height: 450px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: hsl(33, 100%, 98%);
    padding: 20px;
}

#chart-container {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.bar-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.bar {
    width: 40px;
    background-color: hsl(10, 79%, 65%);
}

.bar:hover {
    background-color: hsl(10, 79%, 80%);
}

.active-bar {
    background-color: hsl(186, 34%, 60%);
}

.active-bar:hover {
    background-color: hsl(186, 34%, 75%);
}

.bar-amount-text {
    font-size: 12px;
    background-color: hsl(25, 47%, 15%);
    color: hsl(27, 66%, 92%);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.chart-title, .total-amount-text, .total-percent {
    color: hsl(25, 47%, 15%)
}

.total-percent {
    text-align: right;
}

.total-amount-text {
    margin: 0 auto;
    font-size: 24px;
}

.divider-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    height: 3px;
    width: 330px;
    border: none;
    background-color: hsl(27, 66%, 92%);
}

.total-container, .total-percent-container {
    padding: 20px 10px;
}


.chart-title {
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
}

.total-info-container {
    display: flex;
    justify-content: space-between;
}

.total-text, .total-percent-text, .bar-text-container {
    color: hsl(28, 10%, 53%);
}

.bar-text-container {
    margin: 10px 0;
}