* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(27, 66%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.info-container {
    background-color: hsl(10, 79%, 65%);
    color: hsl(27, 66%, 92%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 500px;
    border-radius: 10px;
}

.balance-text {
    font-size: 18px;
}

.bold {
    font-weight: 700;
    font-size: 36px !important;
}

.info-image-container, .info-container {
    padding: 20px;
}

.info-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container {
    margin: 10px 0;
    height: 530px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: hsl(33, 100%, 98%);
    padding: 20px;
}

#chart-container {
    height: 400px;
    width: 460px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.bar-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.bar {
    width: 50px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: hsl(10, 79%, 65%);
}

.bar:hover {
    background-color: hsl(10, 79%, 80%);
}

.active-bar {
    background-color: hsl(186, 34%, 60%);
}

.active-bar:hover {
    background-color: hsl(186, 34%, 75%);
}

.bar-amount-text {
    position: relative;
    width: 70px;
    top: -40px;
    left: -10px;
    font-size: 18px;
    background-color: hsl(25, 47%, 15%);
    color: hsl(27, 66%, 92%);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.bar .bar-amount-text {
    visibility: hidden;
    opacity: 0;
}

.bar:hover .bar-amount-text {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}

.chart-title, .total-amount-text, .total-percent {
    color: hsl(25, 47%, 15%)
}

.total-percent {
    margin-top: 25px;
    text-align: right;
}

.total-amount-text {
    margin: 0 auto;
    font-size: 24px;
}

.divider-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    height: 3px;
    width: 470px;
    border: none;
    background-color: hsl(27, 66%, 92%);
}

.total-container, .total-percent-container {
    padding: 20px 0 10px 0;
}

.chart-title {
    font-size: 24px;
    font-weight: 700;
    padding: 5px;
}

.total-info-container {
    padding: 10px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
}

.total-text, .total-percent-text, .bar-text-container {
    color: hsl(28, 10%, 53%);
}

.total-amount-text {
    font-size: 48px;
    font-weight: 700;
}

.bar-text-container {
    margin: 10px 0;
}

.bar-text {
    font-size: 14px;
}

@media only screen and (max-width: 400px) {
    .info-container, .chart-container {
        width: 350px;
    }

    .info-image-container, .info-container {
        padding: 10px;
    }

    #chart-container {
        width: 320px;
    }

    .bold {
        font-size: 26px !important;
    }

    .total-amount-text {
        font-size: 34px;
    }

    .total-percent {
        margin-top: 15px;
    }

    .bar-amount-text {
        width: 50px;
        font-size: 12px;
    }

    .bar {
        width: 30px;
    }
}